force-app/main/default/flows/Refurbished_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Refurbished Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refurbished Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Cust_ID__c</field>
            <value>
                <elementReference>Customer_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place__c</field>
            <value>
                <elementReference>Place</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Product_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Refurbished_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Input_Records</name>
        <label>Input Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
        <fields>
            <name>Customer_ID</name>
            <dataType>Number</dataType>
            <fieldText>Customer ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Name</name>
            <fieldText>Name</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Type</name>
            <fieldText>Product Type</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Place</name>
            <fieldText>Place</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
